<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duzhaokun123.bilibilihd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".services.PlayControlService"
            android:exported="false"></service>

        <activity
            android:name=".ui.settings.DanmakuTestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
            android:label="@string/danmaku_test"
            android:launchMode="singleTop" />
        <activity android:name=".ui.WebViewActivity" />
        <activity
            android:name=".ui.article.ArticleActivity"
            android:label=""
            android:theme="@style/AppTheme.TransparencyActionBar" />
        <activity
            android:name=".ui.download.DownloadActivity"
            android:label="@string/download"
            android:parentActivityName=".ui.welcome.WelcomeActivity" />

        <service
            android:name=".services.VideoDownloadService"
            android:exported="false" />

        <activity android:name=".ui.TestActivity" />
        <activity android:name=".ui.ToolActivity" />
        <activity android:name=".ui.UrlOpenActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.bilibili.com"
                    android:scheme="http" />
                <data
                    android:host="*.bilibili.com"
                    android:scheme="https" />
                <data android:host="b23.tv" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bilibili" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LogoutActivity"
            android:label="@string/logout" />
        <activity
            android:name=".ui.settings.LicenseActivity"
            android:label="@string/license" />
        <activity android:name=".ui.userspace.FavoriteActivity" />
        <activity
            android:name=".ui.play.PlayActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.TransparencyActionBar.DarkActionBar" />
        <activity
            android:name=".ui.PhotoViewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.NoActionBar.Transparency.Fullscreen" />
        <activity android:name=".ui.JumpActivity" />
        <activity
            android:name=".ui.userspace.UserSpaceActivity"
            android:theme="@style/AppTheme.TransparencyActionBar" />
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="uiMode"
            android:label="@string/settings" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login" />
        <activity android:name=".ui.main.MainActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.SearchActivity" />
        </activity>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:configChanges="uiMode|screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>